* {
  /*margin: 4px !important;
  border: 1px dashed black !important;*/
  font-family: 'Fira Sans', sans-serif;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 97vh;
}

.container {
  margin: 1.5rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

header {
  display: flex;
  margin-bottom: 0.75rem;
  border-radius: 0;
  flex: 4;
}

section {
  padding: 1vh .5vw;
  max-height: 100%;
}

h1 {
  font-family: 'Bitter', serif;
  display: flex;
  font-weight: bold;
  letter-spacing: -1px;
  max-width: 100px;
  margin: 0;
  margin-left: 1vw;
  align-items: flex-end;
}

nav.tabs {
  max-width: 55%;
}
nav.tabs a {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 4px 20px;
  margin-bottom: 24px;
  margin-right: 1px;
}

nav.tabs a:hover {
 background-color: rgba(221, 17, 42, .5);
 color: white;
 text-decoration: none;
 border-radius: 5px;
}

 nav.tabs a.active {
  background-color: rgba(221, 17, 42, .7);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

button {
 outline: none;
 text-decoration: none;
 background-color: black;
 color: white;
 text-decoration: none;
 border-radius: 5px;
 height: 35px;
}

/*****************************************************************************/

.home-section img {
  max-width: 75vw;
  max-height: 75vh;
}

.home-section .content {
  display: flex;
  flex-direction: row;
  margin: 1vh 0;
  text-align: center;
}

.home-section article {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.home-section .tags {
  font-size: 1.7rem;
  line-height: 150%;
  letter-spacing: .35vw;
}

.welcome {
  margin: 1vw;
  font-size: 7rem;
}

.subscript {
  font-size: .8rem;
  line-height: 150%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 38vw;
  justify-content: space-around;
}

.skills span {
  padding: 0 1vh;
}

.skills button {
  margin: .3vh .3vw;
  background-color: rgba(221, 17, 42, .5);
  text-transform: lowercase;
}

.skills button:hover {
  background-color: rgba(221, 17, 42, .7);
  color: black;
}

/*****************************************************************************/

.projects-section{
  max-height: 80vh;
  overflow-y: scroll;
}

.project-article{
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.project-img {
  display: flex;
  align-items: center;
}

.project-img img {
  max-width: 45vw;
  max-height: 45vh;
}

.project-info {
  padding: 10vh 1.5vw;
}
